<div style="padding: 0 140px 0 140px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <div style="color: #77A99E; font-family: Cambria; font-size: 25px; padding: 100px 0 0 0">Degree/Diploma
            Certificates
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayoutAlign="center">
                    <p><a><img src="../../assets/images/th_tlmba_cert.png"></a></p>
                </div>
                <div fxLayoutAlign="center" style="text-decoration: underline; font-family: Cambria; font-size: 15px;">
                    The Lisbon
                    MBA</div>
                <div fxLayoutAlign="center" style="color: grey; font-family: Cambria; font-size: 13px;">Jan 2019 - Dec
                    2019</div>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayoutAlign="center">
                    <p><a><img src="../../assets/images/th_be_cert.png"></a></p>
                </div>
                <div fxLayoutAlign="center" style="text-decoration: underline; font-family: Cambria; font-size: 15px;">
                    Bachelor of Engineering</div>
                <div fxLayoutAlign="center" style="color: grey; font-family: Cambria; font-size: 13px;">Aug
                    2009 - Jun 2013</div>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayoutAlign="center">
                    <p><a><img src="../../assets/images/th_mit_cert.png"></a></p>
                </div>
                <div fxLayoutAlign="center" style="text-decoration: underline; font-family: Cambria; font-size: 15px;">
                    MIT Summer
                    Immersion</div>
                <div fxLayoutAlign="center" style="color: grey; font-family: Cambria; font-size: 13px;">May 2019 - Jun
                    2019</div>
            </div>
        </div>

        <div>
            <hr style="border-top: 4px dotted grey; width: 100px;" />
        </div>

        <div style="color: #77A99E; font-family: Cambria; font-size: 25px;">Additional Course
            Certificates
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayoutAlign="center">
                    <p><a><img style="max-height: 300px; max-width: 300px;" src="../../assets/images/uxd_cert.jpg"></a>
                    </p>
                </div>
                <div fxLayoutAlign="center" style="text-decoration: underline; font-family: Cambria; font-size: 15px;">
                    UX Design Essentials: Adobe
                    XD</div>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayoutAlign="center">
                    <p><a><img style="max-height: 400px; max-width: 300px;" src="../../assets/images/ga_cert.jpg"></a>
                    </p>
                </div>
                <div fxLayoutAlign="center" style="text-decoration: underline; font-family: Cambria; font-size: 15px;">
                    Google Analytics Individual Qualification</div>
            </div>
            <div fxLayout="column" fxLayoutGap="5px">
                <div fxLayoutAlign="center">
                    <p><a><img style="max-height: 300px; max-width: 300px;" src="../../assets/images/pm_cert.png"></a>
                    </p>
                </div>
                <div fxLayoutAlign="center" style="text-decoration: underline; font-family: Cambria; font-size: 15px;">
                    Becoming a Product Manager
                </div>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center"></div>

    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center center" style="background-color: #A0CDC6; height: 120px;" fxLayoutGap="60px">
    <div fxLayout="column">
        <div fxLayoutAlign="start">
            <a class="nav-link" href="https://www.linkedin.com/in/nehasingh211" target="_blank"
                style="color: teal;">LinkedIn</a>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayoutAlign="start">
            <a class="nav-link" href="https://xd.adobe.com/view/ce75d3a3-9065-45a5-8654-cf109edeb6c6-9b26/"
                target="_blank" style="color: teal;">Adobe XD</a>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayoutAlign="start">
            <a class="nav-link" href="https://github.com/nehasingh211/reactiveangular" target="_blank"
                style="color: teal;">Github</a>
        </div>
    </div>
</div>