<div style="padding: 0 140px 0 140px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
        <div style="color: #77A99E; font-family: Cambria; font-size: 25px; padding: 100px 0 0 0">Professional Work
            Experience
        </div>

        <div>
            <p><a><img src="../../assets/images/work.png"></a></p>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <div fxLayout="column" fxLayoutGap="5px">
                <div style="color: #77A99E; font-family: Cambria; font-size: 20px;">Business
                    Intelligence and Analysis MBA Intern</div>
                <div style="color: grey; font-family: Cambria; font-size: 13px;">Jun 2019 - Aug 2019</div>
                <div fxLayout="row wrap" fxLayoutAlign="start">
                    <ul>
                        <li>Developed a ‘Proof of Concept’ by building a business app using
                            PowerApps and saved $12,000
                            yearly.
                        </li>
                        <li>Presented a roadmap for the implementation of BI&A to accelerate strategic decision making
                            by
                            69%.
                        </li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column">
                <p><a><img src="../../assets/images/msd.jpg"></a></p>
            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <div fxLayout="column" fxLayoutGap="5px">
                <div style="color: #77A99E; font-family: Cambria; font-size: 20px;">Software Engineer</div>
                <div style="color: grey; font-family: Cambria; font-size: 13px;">Aug 2013 - Oct 2018</div>
                <div fxLayout="row wrap" fxLayoutAlign="start">
                    <ul>
                        <li>
                            Designed and developed a highly interactive UI
                            within a crucial deadline of
                            seven
                            months.
                        </li>
                        <li>
                            Define user stories, acceptance
                            criteria
                            and UI
                            designs.
                        </li>
                        <li>
                            Developed two batch applications which eliminated physical paper work and saved a capital
                            of $1.2 million.
                        </li>
                        <li>
                            Followed the principles of agile methodology using Scrum.
                        </li>
                        <li>
                            Actively engaged in implementing DevOps culture.
                        </li>
                    </ul>
                </div>
            </div>
            <div fxLayout="column">
                <p><a><img src="../../assets/images/fidelity.jpeg"></a></p>
            </div>
        </div>

        <div>
            <hr style="border-top: 4px dotted grey; width: 100px;" />
        </div>

        <div style="color: #77A99E; font-family: Cambria; font-size: 25px; padding-bottom: 40px">Additional Projects
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p><a><img src="../../assets/images/skog.png"></a></p>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayoutAlign="start" style="color: #77A99E;">Marketing Consultant</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div style="color: grey; font-family: Cambria; font-size: 13px;">Jan 2019 - Mar 2019</div>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <div fxLayoutAlign="start" style="width: 500px;">Build a marketing plan for an effective penetration
                        of SKOG into online
                        eyewear market. Based on a 'User Persona' defined a new positioning statement estimating
                        CAGR of 21%.
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a class="nav-link"
                        href="https://drive.google.com/file/d/1fHIy8KaLecrgDpsOqxhknnnCF_hwCsYs/view?usp=sharing"
                        target="_blank" style="color: #77A99E; text-decoration: underline; font-size: 12px;">[SKOG
                        Marketing Project Link]</a>
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="15px">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <p><a><img src="../../assets/images/ritz.png"></a></p>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayoutAlign="start" style="color: #77A99E;">External Consultant</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div style="color: grey; font-family: Cambria; font-size: 13px;">Sep 2019 - Nov 2019</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxLayoutAlign="start" style="width: 500px;">Supervised Housekeeping Productivity Improvement
                        project with three MBA
                        colleagues. Achieved an increase in housekeeping productivity by 20%.</div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a class="nav-link"
                        href="https://drive.google.com/file/d/1Tu-0ZexeOJ9QVKTJfUqjE3nDC9JY12T0/view?usp=sharing"
                        target="_blank" style="color: #77A99E; text-decoration: underline; font-size: 12px;">[Ritz
                        Housekeeping Project Link]</a>
                </div>
            </div>
        </div>

        <div>
            <hr style="border-top: 4px dotted grey; width: 100px;" />
        </div>

        <div style="color: #77A99E; font-family: Cambria; font-size: 25px;">Adobe XD Projects
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="100px">
            <div fxLayout="column">
                <a class="nav-link" href="https://xd.adobe.com/view/1cf6e822-792b-42f9-bd83-4dab9f22100e-49a5/"
                    target="_blank" style="text-decoration: underline; font-size: 12px;">StreamyFy Mockup Designs -
                    Web</a>
            </div>

            <div fxLayout="column">
                <a class="nav-link" href="https://xd.adobe.com/view/8fc4a0cf-836f-4190-a7f9-7059752df73c-da97/"
                    target="_blank" style="text-decoration: underline; font-size: 12px;">StreamyFy Mockup Designs -
                    App</a>
            </div>
        </div>

        <div>
            <hr style="border-top: 4px dotted grey; width: 100px;" />
        </div>

        <div style="color: #77A99E; font-family: Cambria; font-size: 25px;">Skills
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <div fxLayout="column">
                <a><img style="max-height: 50px; max-width: 50px;" src="../../assets/images/ag.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 50px; max-width: 50px;" src="../../assets/images/ts.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 40px; max-width: 40px;" src="../../assets/images/js.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 40px; max-width: 40px;" src="../../assets/images/html5.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 40px; max-width: 40px;" src="../../assets/images/css3.jpg"></a>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <div fxLayout="column">
                <a><img style="max-height: 40px; max-width: 40px;" src="../../assets/images/c.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 60px; max-width: 60px;" src="../../assets/images/sts.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 70px; max-width: 70px;" src="../../assets/images/power.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 50px; max-width: 50px;" src="../../assets/images/tableau.jpg"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 40px; max-width: 60px;" src="../../assets/images/sql.jpg"></a>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px">
            <div fxLayout="column">
                <a><img style="max-height: 40px; max-width: 40px;" src="../../assets/images/xd.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 60px; max-width: 60px;" src="../../assets/images/bal.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 60px; max-width: 80px;" src="../../assets/images/msoff.jpg"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 70px; max-width: 80px;" src="../../assets/images/ga.png"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 70px; max-width: 70px;" src="../../assets/images/atl.jpeg"></a>
            </div>
            <div fxLayout="column">
                <a><img style="max-height: 60px; max-width: 60px;" src="../../assets/images/agile.png"></a>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px"></div>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="50px"></div>
    </div>

</div>

<div fxLayout="row" fxLayoutAlign="center center" style="background-color: #A0CDC6; height: 120px;" fxLayoutGap="60px">
    <div fxLayout="column">
        <div fxLayoutAlign="start">
            <a class="nav-link" href="https://www.linkedin.com/in/nehasingh211" target="_blank"
                style="color: teal;">LinkedIn</a>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayoutAlign="start">
            <a class="nav-link" href="https://xd.adobe.com/view/ce75d3a3-9065-45a5-8654-cf109edeb6c6-9b26/"
                target="_blank" style="color: teal;">Adobe XD</a>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <div fxLayoutAlign="start">
            <a class="nav-link" href="https://github.com/nehasingh211/reactiveangular" target="_blank"
                style="color: teal;">Github</a>
        </div>
    </div>
</div>