<div>
    <div fxLayout="column">
        <p><a><img src="../../assets/images/home_back_edit.jpg" alt="down arrow"></a></p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <div style="color: #77A99E; font-family: Cambria; font-size: 30px; padding: 30px 0 10px 0">Hi!</div>
        <div></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="5px">
            <div></div>
            <div></div>
            <div></div>
            <div fxLayoutAlign="center">I am a UX/UI Designer and Developer based in Lisbon, Portugal currently.</div>
            <div fxLayoutAlign="center">I am passionate for technology and love to spend time on research.</div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <p><a><img src="../../assets/images/girl.png"></a></p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div></div>
        <div></div>
        <div style="color: #77A99E; font-family: Cambria; font-size: 30px; padding: 20px 0 0 0">Educational Background
        </div>
        <div></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="5px">
            <div></div>
            <div></div>
            <div fxLayoutAlign="center">International MBA with focus on business development,</div>
            <div fxLayoutAlign="center">strategy and analysis.</div>
            <div fxLayoutAlign="center">Bachelor of Engineering from Computer/Information Science.</div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <hr style="border-top: 4px dotted grey; margin:60px 0 0 0; width: 100px;" />
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div></div>
        <div></div>
        <div style="color: #77A99E; font-family: Cambria; font-size: 30px; padding: 30px 0 0 0">What I can do</div>
        <div></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="column">
            <p><a><img src="../../assets/images/uxui.png"></a></p>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayoutAlign="start" style="color: #77A99E;">UX/UI Designer</div>
            <div fxLayoutAlign="start">I love to design web and mobile based applications.</div>
            <div fxLayoutAlign="start">Idea is to focus on simple, interactive and user friendly designs.</div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayoutAlign="start" style="color: #77A99E;">Business Analyst</div>
            <div fxLayoutAlign="start">Proficient at engaging with stakeholders, understanding requirements</div>
            <div fxLayoutAlign="start">and proposing solutions to achieve efficient and scalable outcomes.</div>
            <div fxLayoutAlign="start">Exceptional presentation skills.</div>
        </div>
        <div fxLayout="column">
            <p><a><img src="../../assets/images/baicon.png"></a></p>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <hr style="border-top: 4px dotted grey; margin:60px 0 0 0; width: 100px;" />
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div></div>
        <div></div>
        <div style="color: #77A99E; font-family: Cambria; font-size: 30px; padding: 20px 0 0 0">Open to work</div>
        <div></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayoutAlign="center">Actively looking for job opportunity.</div>
            <div fxLayoutAlign="center">Also available as a freelancer and remote worker.</div>
        </div>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div></div>
        <div></div>
        <button type="button" class="btn btn-info"><a href="mailto:neharkt.be@gmail.com" style="color:white">Contact
                Me</a></button>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" style="background-color: #A0CDC6; height: 120px;" fxLayoutGap="60px">
        <div fxLayout="column">
            <div fxLayoutAlign="start">
                <a class="nav-link" href="https://www.linkedin.com/in/nehasingh211" target="_blank"
                    style="color: teal;">LinkedIn</a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayoutAlign="start">
                <a class="nav-link" href="https://xd.adobe.com/view/ce75d3a3-9065-45a5-8654-cf109edeb6c6-9b26/"
                    target="_blank" style="color: teal;">Adobe XD</a>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="5px">
            <div fxLayoutAlign="start">
                <a class="nav-link" href="https://github.com/nehasingh211/reactiveangular" target="_blank"
                    style="color: teal;">Github</a>
            </div>
        </div>
    </div>
</div>